 .body{
    height:100vh;
 }
 header{
    text-align:center;
    font-size:x-large;
 }
 #container{
    border-style:groove;
    border-color: black;
    border-width:2.5px;
    background-color: white;
    margin-right:15px;
    /* height:500px; */
    min-width:500px;
    display:flex;
    flex-wrap:wrap;
    flex-basis:500px;
    padding:0;
    /* align-content:flex-start; */
 }
 .square{
    border-style:solid;
    border-color:rgb(126, 126, 126);
    background-color: white;
    border-width:0.6px;
    margin:0px;
 }
 #all{
    display:flex;
    padding:15px;
 }
 .input{
    padding-right:10px;
    display:flex;
    height:30px;
 }
 #size{
    display:flex;
 }
 