 .body{
    height:100vh;
 }
 header{
    text-align:center;
    font-size:x-large;
 }
 #container{
    border-style:groove;
    border-color: black;
    border-width:2.5px;
    background-color: white;
    margin-right:15px;
    /* height:500px; */
    min-width:500px;
    display:flex;
    flex-wrap:wrap;
    flex-basis:500px;
    padding:0;
    /* align-content:flex-start; */
 }
 .square{
    border-style:solid;
    border-color:rgb(126, 126, 126);
    background-color: white;
    border-width:0.6px;
    margin:0px;
 }
 #all{
    display:flex;
    padding:15px;
 }
 #sidebar{
   display:flex;
   flex-direction: column;
   gap:8px;
   padding-right: 10px;
 }
 #size{
   width:180px;
 }
 #size2{
   width:240px;
 }
 .input{
    display:flex;
    height:30px;
    justify-content: flex-start;
    align-items: center;
 }
 #current{
   margin-left:5px;
   display:flex;
   height:37px;
   flex-basis:70px;
   border-style: solid;
   border-width:2px;
 }
 .cw{
   height:40px;
   width:40px;
 }
 #submit{
   border-radius: 4px;
 }
 #clear{
   border-radius:10px;
 }
 #selector{
   margin-bottom:15px;
 }